{% extends "base.html.twig" %}

{% block title %} Snowtrick-home {% endblock %}

{% block body %} 

    <div class="container">
        <section class="d-flex justify-content-center align-items-center position-relative">
            <img src="{{ asset('pictures/intro.jpg') }}" class="img-fluid w-100" alt="pictures intro">
            <h1 class="text-center text-white text-shadow text-uppercase position-absolute">To snow or not to snow that is not a question!<h1>
        </section>

        {% include '/home/list_tricks.html.twig' %}
    </div>

{% endblock %}