{% extends "base.html.twig" %}

{% block title %} Snowtrick-home {% endblock %}

{% block body %} 

    <div class="container">
        <section id="intro" class="text-center py-4">
            <h1 class="fw-light text-primary">To snow or not to snow that is not a question<h1>
        </section>

        {% include '/home/list_tricks.html.twig' %}
    </div>

{% endblock %}