<section>
    <div class="my-4">
        {{ trick.description }}
    </div>


    <div class="w-50 d-flex justify-content-start">
        <span class="badge bg-secondary">
            {% if trick.editDate|default %}
                Modifié le {{ trick.editDate|date("d/m/Y H:i:s") }}
            {% else %}
                Créé le {{ trick.createDate|date("d/m/Y H:i:s") }}
            {% endif %}
        </span>
        <span class="badge bg-secondary">{{trickGroup.name}}</span>
    </div>


</section>