<section>

    <div>
        <button type="button">See medias</button>
    <div>


    <div>
        <img src="" alt="une image"/>
        <img src="" alt="une image"/>
        <img src="" alt="une image"/>
        <img src="" alt="une image"/>
        <img src="" alt="une image"/>

        <div>video2</div>
        <div>video3</div>
        <div>video4</div>
    </div>
<section>