<section class="my-4">
    {% for message in app.flashes('success') %}
        <div class="alert alert-success my-2">
            {{message}}
        </div>
    {% endfor %}

    <div class="text-center my-2 d-md-none">
        <button class="btn btn-secondary col-12 col-md-6 see-more" type="button">Voir les médias</button>
    </div>

    <div class="div-media-collapse d-none d-md-block">
        {% if trick.movies|length %}
            <h2 class="h4 text-secondary border-bottom border-3 border-secondary">Vidéo:</h2>

            <div class="d-flex justify-content-start align-items-center flex-wrap">
                {% for movie in trick.movies %}
                    <div class="mx-1">
                        {{ movie.balise | raw}}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        
        {% if trick.pictures|length %}
            <h2 class="h4 text-secondary border-bottom border-3 border-secondary">Images:</h2>

            <div class="d-flex justify-content-start align-items-center flex-wrap">
                {% for picture in trick.pictures %}
                    <div class="mx-1">    
                        <img src="{{ asset('pictures/tricks/mini/200x200-') }}{{ picture.name }}" />
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
<section>