<section>
    <form>
        <label for="commentaire" hidden></label>
        <input type="text" name="commentaire" id="commentaire">

        <button type="submite">Leave a comment</button>
    <form>


    <div>
        <div>
            <img src="" alt="imageperso">

            <div>
                Le message
            <div>
        </div>

        <div>
            <img src="" alt="imageperso">

            <div>
                Le message
            <div>
        </div>

        <div>
            <img src="" alt="imageperso">

            <div>
                Le message
            <div>
        </div>

        <div>
            <img src="" alt="imageperso">

            <div>
                Le message
            <div>
        </div>


        <button type="button">Load more</button>
    </div>


</section>