<section>

{% if is_granted('IS_AUTHENTICATED_FULLY') %}
    {{ form_start(commentForm) }}
        {{ form_row(commentForm.message) }}
    {{ form_end(commentForm) }}

{% endif %}


    <div>
        <div>
            <img src="" alt="imageperso">

            <div>
                Le message
            <div>
        </div>

        <div>
            <img src="" alt="imageperso">

            <div>
                Le message
            <div>
        </div>

        <div>
            <img src="" alt="imageperso">

            <div>
                Le message
            <div>
        </div>

        <div>
            <img src="" alt="imageperso">

            <div>
                Le message
            <div>
        </div>


        <button type="button">Load more</button>
    </div>


</section>