<section>

    <div>
        <button type="button">See medias</button>
    <div>


    <div>
        {% for movie in trick.movies %}
            <div>
                {{ movie.balise | raw }}
                <a href="" type="button">Delete</a>
            </div>
        {% endfor %}
        
        {% for picture in trick.pictures %}
            <div>    
                <img src="{{ asset('pictures/tricks/mini/200x200-') }}{{ picture.name }}" />
                <a href="" type="button" class="btn btn-danger">Delete</a>
            </div>
        {% endfor %}
    </div>
<section>