<section>

{% if is_granted('IS_AUTHENTICATED_FULLY') %}
    {{ form_start(commentForm) }}
        {{ form_row(commentForm.message) }}

        <button type="submit" class="btn btn-primary">
            leave message
        </button>
    {{ form_end(commentForm) }}

{% endif %}

{% for comment in allComment %}
    {{ comment.message }}
{% endfor %}


</section>