<section>
    <div>
        Lipsum

    </div>


    <div>
        <span>auteur</span>
        <span>date de creation<span>
        <span>groupe</span>
        <span>date de modifiction</span>
    </div>


</section>