<section class="my-4">
    <div class="w-50 d-flex justify-content-start">
        <span class="badge bg-secondary me-1">
            {% if trick.editDate|default %}
                Modifié le {{ trick.editDate|date("d/m/Y H:i:s") }}
            {% else %}
                Créé le {{ trick.createDate|date("d/m/Y H:i:s") }}
            {% endif %}
        </span>
        <span class="badge bg-secondary mx-1">{{trickGroup.name}}</span>
    </div>

    <div class="my-2 lh-sm">
        {{ trick.description }}
    </div>


</section>
